body{
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

h1.greeting{
    color: #077CD8;
    font-weight: 100px;
    padding-top: 7%; 
    font-size: 75px;
    letter-spacing: 5px;
}

u.greetunder{
    color: #D4C5A7;
}

h2.about{
    font-weight: 50px; 
    font-size: 24px;
    color: rgb(85, 85, 85);
}

h3.brand{
    font-weight: lighter; 
    color: rgb(107, 107, 107); 
    font-size: larger;
}

button.apply{
    background-color: #077CD8;
    border: none;
    color: white;
    font-size: 22px;
    padding: 1%;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: bolder;
}

p.instruct{
    font-size: 13px; 
    color: rgb(54, 54, 54);
}

div.firstque{
    padding-top: 10%;
}

h5.one{
    color: #077CD8;
    display: inline;
}

h2.firstques{
    font-weight: lighter;
    color: rgb(85, 85, 85);
    display: inline;
}