html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
      scroll-behavior:inherit;
  }

body{
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
    background: #FFDD84;
}

h1.greeting{
    color: #077CD8;
    font-weight: 100px;
    padding-top: 15%; 
    font-size: 75px;
    letter-spacing: 5px;
}

u.greetunder{
    color: #D4C5A7;
}

h2.about{
    font-weight: 50px; 
    font-size: 24px;
    color: rgb(85, 85, 85);
}

h3.brand{
    font-weight: lighter; 
    color: rgb(107, 107, 107); 
    font-size: larger;
}

button.apply{
    background-color: #077CD8;
    border: none;
    color: white;
    font-size: 22px;
    padding: 1%;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: bolder;
}

p.instruct{
    font-size: 13px; 
    color: rgb(54, 54, 54);
}

/* .firstque .secondque .thirdque .fourthque{
    width: 100vw;
    height: 100%;
} */

.firstque{
    width: 98vw;
    height: 98vh;   
    border: none;
}
.secondque{
    width: 98vw;
    height: 98vh;
    border: none;
}

.thirdque{
    width: 98vw;
    height: 98vh;
    border: none;
}

.fourthque{
    width: 98vw;
    height: 98vh;
    border: none;
}

.fifthque{
    width: 98vw;
    height: 98vh;
    border: none;
}

.sixthque{
    width: 98vw;
    height: 98vh;
    border: none;
}

.seventhque{
    width: 98vw;
    height: 98vh;
    border: none;
}

.eighthque{
    width: 98vw;
    height: 98vh;
    border: none;
}

.ninthque{
    width: 98vw;
    height: 98vh;
    border: none;
}

input.form-control {
    margin-left: 4%;
    font-family: inherit;
    width: 800px;
    border: 0;
    border-bottom: 1px solid #8ba9c0;
    outline: 0;
    font-size: 2rem;
    color: #077CD8;
    padding: 7px 0;
    background: transparent;
}

input.form-date {
    margin-left: 4%;
    font-family: inherit;
    width: 800px;
    border: 0;
    border-bottom: 1px solid #8ba9c0;
    outline: 0;
    font-size: 2rem;
    color: #077CD8;
    padding: 7px 0;
    background: transparent;
}

input:focus, input:valid{
    border-color: #077CD8;
    transition-delay: 0.2s;
    border-bottom: 2.5px solid;
}

input::placeholder{
    color: #9bbad1;
    font-weight: bold;
    opacity: 60%;
}

.form-control::placeholder{
    background: transparent;
}

h5.one{
    padding-top: 50%;
    color: #077CD8;
    display: inline;
}

h2.firstques{
    margin-top: 50vh;
    font-weight: 550;
    color: rgb(39, 39, 39);
    display: inline;
    letter-spacing: -0.5px;
    font-size: 25px;
}

.group-one{
    margin-top: 15%;
    text-align:left;
    display:inline-block;
    margin-left: 20%;
    font-size: larger;
}

.group-two{
    margin-top: 8%;
    text-align:left;
    display:inline-block;
    margin-left: 20%;
    font-size: larger;
}

.group-three{
    margin-top: 8%;
    text-align:left;
    display:inline-block;
    margin-left: 20%;
    font-size: larger;
}

.group-four{
    margin-top: 8%;
    text-align:left;
    display:inline-block;
    margin-left: 20%;
    font-size: larger;
}

.group-five{
    margin-top: 8%;
    text-align:left;
    display:inline-block;
    font-size: larger;
    margin-left: 20%;
}

.group-six{
    margin-top: 8%;
    text-align:left;
    display:inline-block;
    margin-left: 20%;
    font-size: larger;
}

.group-seven{
    margin-top: 8%;
    text-align:left;
    display:inline-block;
    margin-left: 20%;
    font-size: larger;
}

.group-eight{
    margin-top: 8%;
    text-align:left;
    display:inline-block;
    margin-left: 20%;
    font-size: larger;
}

.group-nine{
    margin-top: 8%;
    text-align:left;
    display:inline-block;
    margin-left: 20%;
    font-size: larger;
}

p.des{
    margin-left: 5%;
    color: gray;
    font-weight: bold;
    opacity: 70%;
}

button{
    outline: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
}

button.next-button{
    background-color: #077CD8;
    border: none;
    margin-left: 4%;
}

ul{
    list-style-type: none;
}


textarea{
    margin-left: 4%;
    font-family: inherit;
    width: 800px;
    border: 0;
    border-bottom: 1px solid #8ba9c0;
    outline: 0;
    font-size: 2rem;
    color: #077CD8;
    padding: 7px 0;
    background: transparent;
    height: 50px;
    resize: true;
}

textarea:focus, textarea:valid{
    border-color: #077CD8;
    transition-delay: 0.2s;
    border-bottom: 2.5px solid;
}

textarea::placeholder{
    color: #9bbad1;
    font-weight: bold;
    opacity: 60%;
}

button.pageclip-form__submit{
    background-color: #077CD8;
    border: none;
    margin-left: 4%;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    text-align:left;
    display:inline-block;
    margin-left: 20%;
    font-size: larger;
}

.pageclip-form__submit::after{
    height: 500px;
    width: 500px;
}

.radio-btn{
    width: 25px;
    height: 25px;
    border: 2px solid #077CD8;
    border-radius: 0px;
    margin-left: 50px;
    padding-left: 0px;
    margin-top: 0;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #abcee9;
    color: #077CD8;
    font-weight: bold;
}